@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
body{
    width: 100vw;
    overflow-x: hidden;
    outline: hidden;
    background: #faebcd;
    color: #000;
    position: relative;
    font-family: 'Nunito', sans-serif;
}
section{
    overflow-x: hidden;
    outline: hidden;
    width: 90%;
    margin: 1em auto;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    border: 2px solid #fff;
    border-radius: .5em;
    padding: .5em;
}
header{
    margin: .5em 0;
}
header h1{
    font-size: 1.7em;
    text-transform: capitalize;
    color: #472d2d;
}
button{
    padding: .5em .7em;
    text-transform: capitalize;
    font-size: 1em;
    border: 0;
    background: #472d2d;
    color: #fff;
    border-radius: .3em;
    cursor: pointer;
    margin: .5em auto;
}
nav{
    overflow-x: hidden;
    outline: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4em;
    background: rgba(71, 45, 45, .9);
    /* backdrop-filter: blur(5px); */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
nav label{
    padding-left: 1em;
    font-size: 1.4em;
    font-weight: 500;
}
nav i{
    padding-right: 1em;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
}
#navMenu{
    position: absolute;
    top: 100%;
    right: -40%;
    width: 10em;
    height: 10em;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    border: 2px solid #472d2d;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* z-index: 100; */
    transition: all .5s ease-in-out
}
#navMenu a{
    font-size: 1.3em;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #472d2d;
}
.homeContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.homeContainer .imageSec{
    width: 30em;
    position: relative;
}
.homeContainer .overview{
    width: 30em;
}
.img{
    position: absolute;
    right: 0;
    width: 5em;
    height: 5em;
    box-sizing: border-box;
    border: 3px solid #472d2d;
    border-radius: 50%;
}
.overview h2{
    padding: .5em 0;
}
.social .icon{
    margin: .5em auto;
    /* background: green; */
}
.social .icon i{
   color: #472d2d;
   font-size: 1.3em;
   margin-right: 1em;
}
.social .icon a{
   color: #472d2d;
   font-size: 1.1em;
}
.aboutSec p{
    font-size: 1.2em;
    padding: .5em 0;
}
.wrapper{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.wrapper .article{
    background: rgba(255, 255, 255, .7);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 15em;
    border-radius: .5em;
    text-align: center;
}